/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Prompt', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* saját kód */

body {
	overflow-x: hidden;
}

.nav-bar {
	width: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nav-right {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 9;
}

input[type="search"] {
	background: url(./magnify.svg) no-repeat;
	background-size: 1rem;
	background-position: 98% 50%;
	padding: 0.25rem;
	border: none;
	border-radius: 0;
	background-color: transparent;
	height: 2rem;
	color: white;
}

input[type="search"]:focus-visible {
	border: none;
}

.nav-holder {
	width: 1340px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.hamb {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	height: 90%;
}

.hamb span {
	display: block;
	width: 30px;
	height: 1px;
	background-color: white;
	margin-left: 1rem;
}

label {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 900px;
	width: calc(80/192 * 100%);
	background-color: #011F3F;
	transform: translateX(100%);
	transition: all 1s ease-in-out;
}

.active {
	transform: translateX(0);
}

.passive {
	transform: translateX(calc(-80/192 * 100%));
}

.language {
	padding: 10px;
	font-size: 16px;
	color: white;
	margin-top: 10px;
	margin-left: calc(66/1920*100%);
}

.language span:first-of-type::after {
	content: '';
	display: inline-block;
	width: 1px;
	background-color: white;
	height: 13px;
	margin-left: 5px;
	margin-right: 5px;
}

.lang-active {
	font-weight: bold;
}

html {
	scroll-behavior: smooth;
}

.video {
	width: 100%;
	height: 900px;
	background-image: linear-gradient(to right, coral, lightblue);
	transition: all 1s ease-in-out	;
}

.content {
	max-width: 1340px;
	margin: 0 auto;
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.item {
	background: #011F3F;
	height: 400px;
}

.pic {
	border-radius: 100% 0 0 0;
}

.arrow {
	background: #6DBDC6;
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 2px;
	position: relative;
	margin-right: 2rem;
}

.arrow::before, .arrow::after {
	position: absolute;
	content: '';
	display: block;
	background: #6DBDC6;
	height: 2px;
	width: 30px;
	transform: rotateZ(45deg);
	right: -5px;
}

.arrow::after {
	top: -10px;
}

.arrow::before {
	transform: rotateZ(-45deg);
	bottom: -10px;
}

.reverse-arrow::after, .reverse-arrow::before {
	left: -5px;
}

.reverse-arrow::before {
	transform: rotateZ(45deg);
}

.reverse-arrow::after {
	transform: rotateZ(-45deg);
}

.arrow.long-arrow {
	width: 120px;
	transform: scale(2);
}

.slide .arrow, .slide .arrow::before, .slide .arrow::after {
	background-color: #011F3F;
}

.slide .arrow-holder {
	cursor: pointer;
}

.fa {
	color: white;
}

.menu-list, .rules {
	margin-left: calc(66/1920*100%);
	margin-top: 40px;
}

.rules {
	color: #6DBDC6;
	font-size: 20px;
	position: absolute;
	bottom: 50px;
}

.rules-item:not(:first-of-type) {
	margin-top: 10px;
}

.menu-items {
	text-transform: uppercase;
	padding-left: 10px;
	color: #6DBDC6;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 3rem;
	display: flex;
}

.rules a {
	color: inherit;
}

.slide {
	margin: 2rem auto;
	display: flex;
	justify-content: space-between;
	max-width: 1340px;
}

.slide-content {
	min-width: 60%;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	color: #011F3F;
	text-align: center;
}

.no-mr {
	margin-right: 0;
}
